.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
  }
  
  .nav-item {
    float: left;
  }
  
  .nav-item-right {
    float: right;
  }
  
  .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #00eaff;
    color: #333333;
  }
  
  .active {
    background-color: #555555;
  }

  .post {
    width: 400px;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    background-color: #eeeeee;
    text-align: left;
  }

  .post-title {
    color: #888888;
    position: relative;
  }

  .post-username {
      display: inline;
      text-decoration: none;
      color: #222222;
      font-weight: bold;
  }

  .post-date {
      display: inline;
      text-align: right;
      position: absolute;
      right: 0px;
      top: -1rem;
  }

  .post-content {
    margin: 1rem;
    font-size: 1.3rem;
  }

  .post-replies {
    margin: 1rem 0 1rem 1rem;
  }

  .post-reply {
    border-left: #aaaaaa solid 2px;
    padding-left: 0.3rem;
  }

  .post-make-reply-container {
    position: relative;
    margin-top: 3rem;
  }

  .post-make-reply {
      display: block;
      margin-top: 1rem;
      width: 100%;
      border-radius: 0.3rem;
      border: #aaaaaa solid 1px;
      position: absolute;
      bottom: 1rem;
  }

  .post-replies-button {
    border-style: none;
    background-color: transparent;
    color: #0033ff;
  }

  .post-replies-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .post-replies-button:focus {
      outline: none;
  }